.homescreen {
  padding-bottom: 100px;
  background-color: #fff7f3;
  min-width: 300px;
}

.homeaboutme {
  background-color: #d9ffb6;
  padding: 47px;
  color: #332e2e;
}

.homeaboutme h1 {
  font-size: 3.8rem;
  margin-bottom: 34px;
  font-weight: bolder;
}

.homeaboutme h2 {
  font-size: 1rem;
  font-weight: lighter;
  color: #332e2ecc;
}

.homeaboutme button,
.homescreenbutton {
  color: #332e2e;
  margin-top: 34px;
  border: 1px solid #332e2e;
  padding: 14px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  background-image: url('https://cdn.prod.website-files.com/5f50efa4420f363f6b5670b2/6739c0109820f5ce5a21a3b6_chevron-right%2002.svg');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
}

.homeaboutme button:hover,
.homescreenbutton:hover {
  background-color: #332e2e !important;
  color: white;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  background-image: url('https://cdn.prod.website-files.com/5f50efa4420f363f6b5670b2/6739c00f6ccbf2bcc188f50a_chevron-right.svg');
}

.homename {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.homenameinner {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 24px;
}

.mainimage {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}

.mainimageinner {
  width: 900px;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.mainimageinner img {
  position: absolute;
  width: 300px;
  margin-left: 280px;
}

.mainimageleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  padding-top: 80px;
  box-sizing: border-box;
}

.mainimageleft hr {
  margin-bottom: 20px;
}

.mainimageright {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
  padding-top: 150px;
}

.mainimageright p {
  width: 270px;
  text-align: left;
}
.mainimageright hr {
  width: 500px;
  margin-top: 8px;
}
.mainimageright__hover {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  width: 270px;
  font-size: 18px;
}
.mainimageright__hovermore {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 75px;
  background-color: #332e2e;
  color: white;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-weight: normal;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s ease-in,
    visibility 0.3s ease-in;
}
.mainimageright__hover:hover .mainimageright__hovermore {
  visibility: visible;
  opacity: 1;
}

.homeprojects {
  margin-top: 120px;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

.homeprojects hr {
  display: none;
}

.homeprojects h1 {
  color: #332e2e;
}

.homeprojects h3 {
  color: #332e2e;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 40px;
}

.projectsquaresdiv {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projectsquare {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  box-sizing: border-box;
  justify-content: start;
  text-align: left;
  gap: 18px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  background-color: #332e2e;
  color: #fff7f3;
  margin-bottom: 20px;
}

.projectsquare:hover {
  transform: scale(1.06);
}

.projectsquare h2 {
  font-size: 18px;
  font-weight: normal;
}

.projectsquare p {
  font-size: 14px;
}

.homemoreaboutme {
  margin-top: 5%;
}

.moreaboutmetitle {
  width: fit-content;
  margin-left: 10%;
}

.moreaboutmetitle__h1 {
  margin-top: 6%;
  text-align: left;
}

.moreaboutmetitle__h3 {
  font-weight: normal;
  margin-top: 2%;
}

.moreaboutmetop {
  margin-top: 60px;
}

.moreaboutmetop,
.moreaboutmebottom {
  width: 100%;
  left: 0;
  display: flex;
}

.moreaboutmetop__inner,
.moreaboutmebottom__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-left: 5%;
  gap: 20px;
  text-align: left;
}

.moreaboutmetop__inner h2,
.moreaboutmebottom__inner h2 {
  text-align: left;
  font-weight: normal;
  font-size: 20px;
}

.moreaboutmetop__inner p,
.moreaboutme__inner p {
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  font-weight: lighter;
}

.moreaboutmetop img {
  width: 50%;
  border-top-right-radius: 150px;
}

.moreaboutmebottom img {
  width: 50%;
  border-bottom-right-radius: 150px;
}

.shallwe {
  background-color: #d9ffb6;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.shallwe__right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shallwe h1 {
  font-weight: bolder;
  font-size: 120px;
  margin-left: 10%;
  width: 20%;
  margin-right: 10%;
  line-height: 100px;
  color: #332e2e;
}

.shallwe p {
  text-align: left;
  width: 90%;
}

.shallwe button {
  background-color: #332e2e;
  color: white;
  margin-top: 20px;
  width: 300px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

/*Responsive cose below*/
/*
 ______     _______     ______
|      \   |       |   /   ___|
|  |\   \  |    ___|  /   /
|  |/   /  |   |___   \   \___
|      /   |    ___|   \__    \
|  |\  \   |   |___       \    \
|  | \  \  |       |   ___/    /
|__|  \__\ |_______|  |_______/
*/

@media only screen and (max-width: 700px) {
  .homeaboutme {
    padding: 24px;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
  }

  .homeaboutme h1,
  .homeaboutme h2 {
    text-align: left;
  }
  .homeaboutme button {
    padding-left: 24px;
    padding-right: 30px;
    width: fit-content;
    box-sizing: border-box;
    background-position: 98%;
  }
  .mainimageright,
  .mainimageleft {
    display: none;
  }
  .mainimage {
    width: 100%;
  }
  .mainimageinner img {
    position: relative;
    width: 300px;
    margin-left: 0px;
  }
  .mainimageinner {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainimageinner img {
    position: relative;
    width: 300px;
    margin-left: 0px;
  }
  .homeprojects {
    padding-left: 5%;
    padding-right: 5%;
  }
  .homeprojects hr {
    display: block;
  }
  .projectsquare {
    width: 100%;
    height: fit-content;
  }
  .shallwe h1 {
    width: 100%;
  }
  .moreaboutmetitle {
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
  }
  .moreaboutmetitle__h1 {
    text-align: center;
  }
  .moreaboutmetop,
  .moreaboutmebottom {
    flex-direction: column;
    padding: 5%;
    box-sizing: border-box;
    margin-top: 10px;
  }
  .moreaboutmetop img,
  .moreaboutmebottom img {
    width: 100%;
    border-radius: 0px;
    height: 250px;
    object-fit: cover;
  }

  .moreaboutmetop__inner,
  .moreaboutmebottom__inner {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-inline: 0px;
  }

  .moreaboutmetop__inner h2,
  .moreaboutmebottom__inner h2 {
    width: 100%;
    font-weight: bold;
  }
  .moreaboutmetop__inner p,
  .moreaboutmebottom__inner p {
    text-align: justify;
  }
}

@media only screen and (max-width: 999px) and (min-width: 701px) {
  .navigation {
    height: 126px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
  }
  .mainimageinner {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mainimageinner img {
    position: absolute;
    width: 270px;
    margin-left: 0px;
  }
  .mainimageleft {
    width: 35%;
    padding-top: 0px;
  }
  .mainimageright {
    height: 30px;
    padding-top: 30px;
    box-sizing: border-box;
    gap: 0px;
  }
  .mainimageright hr {
    width: 360px;
  }
  .mainimageright p {
    width: 162px;
    font-size: 12px;
  }
  .mainimageleft h1 {
    font-size: 25px;
  }
  .mainimageright__hover {
    width: 162px;
  }
  .projectsquare {
    width: 48%;
    height: 180px;
  }
}

@media only screen and (min-width: 1000px) {
  .navigation {
    height: 178px;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-left: 12%;
    padding-right: 12%;
    box-sizing: border-box;
  }
  .projectsquare {
    width: 24%;
    height: 180px;
    background-color: #332e2e;
    color: #fff7f3;
  }
}

@media only screen and (max-width: 450px) {
  .homeaboutme h1 {
    font-size: 2.2rem;
    margin-bottom: 34px;
    font-weight: bolder;
  }
  .homenameinner hr {
    display: none;
  }
  .homenameinner h1 {
    margin-top: 30px;
  }
  .mainimage {
    margin-top: 20px;
  }
}
