.homeaboutme h2 {
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

.mainimage {
  margin-top: 40px;
  margin-bottom: 40px;
}

.aboutmeprogramming {
  margin-top: 50px;
}

.aboutmeprogrammingtop {
  width: fit-content;
  margin-left: 40px;
  margin-bottom: 40px;
}

.aboutmeprogramming h2 {
  text-align: left;
  margin-left: 40px;
  font-size: 28px;
}

.aboutmeprogramming hr {
  margin-left: 40px;
}

.aboutmeprogramminginner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  height: 370px;
}

.aboutmeprogramminginner__images {
  position: relative;
  width: 40%;
  height: fit-content;
  height: 370px;
  overflow: hidden;
}

.aboutmeprogramminginner__infinite {
  z-index: 1;
}

.aboutmeprogramminginner p {
  width: 60%;
  padding-left: 5%;
  padding-right: 80px;
  box-sizing: border-box;
  text-align: justify;
}

.aboutmeprogramminginner__img {
  position: absolute;
  height: 370px;
  left: 0;
  width: 40%;
  z-index: 5;
  object-fit: cover;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.aboutmestudying {
  margin-top: 40px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.aboutmestudyingtop {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-right: 80px;
  margin-bottom: 40px;
}

.aboutmestudying h2 {
  text-align: right;
  font-size: 28px;
  width: fit-content;
}

.aboutmestudyingbottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.aboutmestudyingbottom img {
  margin-left: 80px;
  height: 370px;
  width: 40%;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.aboutmestudyingbottom p {
  text-align: justify;
  padding-left: 80px;
}

.infinitesliderinner {
  border-top-right-radius: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .homeaboutme h2 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .aboutmeprogramming,
  .aboutmestudying {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
  }
  .aboutmestudying {
    margin-bottom: 60px;
  }
  .aboutmeprogrammingtop,
  .aboutmestudyingtop {
    width: 90%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
  }
  .aboutmeprogramming hr,
  .aboutmestudying hr {
    margin-left: 0px;
  }
  .aboutmeprogramming h2,
  .aboutmestudying h2 {
    margin-left: 0px;
    text-align: left;
    width: 100%;
  }
  .aboutmeprogramminginner {
    flex-direction: column;
    height: fit-content;
    position: relative;
  }
  .aboutmeprogramminginner p {
    width: 100%;
    padding-inline: 5%;
    margin-top: 20px;
  }

  .aboutmestudyingbottom p {
    width: 100%;
    padding-inline: 5%;
    box-sizing: border-box;
    margin-top: 20px;
  }

  .aboutmestudyingbottom img {
    width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 0px;
  }

  .aboutmeprogramminginner__img {
    top: 0;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
  }
  .aboutmestudyingbottom {
    flex-direction: column-reverse;
  }
  .aboutmeprogramminginner__images {
    width: 85%;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .aboutmeprogramminginner__images {
    width: 88%;
    height: 300px;
  }
  .aboutmeprogramminginner__img {
    height: 290px;
    object-fit: cover;
  }
}
