.footer {
  width: 100%;
  min-width: 300px;
  background-color: #332e2e;
  color: white;
  padding-top: 60px;
  padding-inline: 10%;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.externallinks {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.externallinks a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: transform 0.3s ease-in-out;
}

.externallinks a:hover {
  transform: scale(1.1);
}

.internallinks {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}

.internallinks ul {
  display: flex;
  gap: 40px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.internallinks li {
  cursor: pointer;
}

.internallinks a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .footer {
    padding-inline: 5%;
  }
}

@media screen and (max-width: 450px) {
  .internallinks ul {
    width: 90%;
    gap: 10px;
    row-gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
